#{extends 'main.html' /}
#{set title:'Street Viewer' /}
<script type="text/javascript">
  var map = null;
  //init Panorado widget
  var viewer = new PanoradoJS();
  $(function(){
     viewer.mouseMode = "grab";
     viewer.canvas = document.getElementById("ViewerCanvas");
     viewer.image = { src: "@{Application.image('test_000',0,1470076)}", projection: 'spherical',scale: 0 };
     viewer.onImageLoaded = function(){
    	 $("#progress-bar").css("display","none");
     }
     //init markers
     $.get("@{Application.firstMarker()}", function(json){
    	 initialize(json);
     });
  });
  //fire event when click maker
  function changePano(fileName,offset,length){
	  $("#progress-bar").css("display","block");
	  var url = "/image/"+fileName+"/"+offset+"/"+length;
	  viewer.image = { src: url, projection: 'spherical' };
  }
</script>

<div class="container-fluid">
  <div class="span7 well">
    <canvas id="ViewerCanvas" style="width: 100%;height: 450px">Please update your browser (FF/Chrome/IE9+/Safari)) for HTML5 support!</canvas>
    <div class="progress progress-striped active" id="progress-bar">
      <div class="bar" style="width: 40%;"></div>
    </div>
  </div>
  <div class="span4 well" id="map_canvas" style="height: 450px">
    
  </div>
</div>